// * {
//     border: 1px solid red;
// }

body {
    width: 100%;
    height: 100vh;
    header {
        width: 50%;
    }
    .container {
        width: 50%;
    }
    .table-1 {
        width: 100%;
        height: 10vh;
    }
    .table-2 {
        width: 100%;
        .btn-div {
            float: right;
            display: flex;
            column-gap: 5px;
        }
    }
}

.todo-div {
    border: 1px solid black;
    margin-top: 0.5em;
    width: 50%;
    height: 40vh;
    h1 {
        padding-left: 0.5em;
        text-align: center;
    }
}

.history-div {
    border: 1px solid black;
    margin-top: 0.5em;
    width: 50%;
    height: 40vh;
    h1 {
        padding-left: 0.5em;
        text-align: center;
    }
}