@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
// * {
//     border: 1px solid red;
// }

.App {
    width: 100%;
    min-height: 100%;
    box-shadow: inset 0 0 5em 1em #000;
    background: url("https://i.stack.imgur.com/p9mUO.jpg");
    color: whitesmoke;
    border-radius: 20px;
}

body {
    width: 80%;
    height: 50%;
    margin: auto;

    header {
        width: 100%;
        height: 10vh;

        h1 {
            margin-top: 0;
            margin-left: 0.2em;
            font-family: 'Rubik Distressed', cursive;
        }
    }

    .container {
        width: 100%;
        height: 36vh;
        text-align: left;
    }

    .table-1 {
        width: 99%;
        height: 10vh;
        margin-left: 0.5em;
        

        .row-2>th>input,
        select {
            background-image: linear-gradient(to bottom right, grey, whitesmoke);
            border-radius: 5px;
            font-weight: bold;
            width: 70%;
            
        }

        th {
            text-align: left;
        }
    }

    section {
        width: 100%;

        .btn-div {
            float: right;
            display: flex;
            column-gap: 0.5em;
            margin-top: 0.5em;
            margin-right: 0.4em;

            button {
                background-image: linear-gradient(to bottom right, grey, whitesmoke);
                border-radius: 5px;
                font-weight: bold;
            }
        }
    }
}

.workout-container {
    border: 1px offset black;
    margin: 5em auto 0;
    width: 75%;
    height: 50vh;

    h1 {
        text-align: left;
        margin-top: 0;
        height: 5vh;
        font-family: 'Rubik Distressed', cursive;
    }

    .workout-list {
        width: 100%;
        height: 79%;

        .table-1 {
            width: 100%;
            margin-left: 0;

            tbody>tr>th {
                font-size: 20px;
                vertical-align: baseline;
            }

            .checkbox {
                width: 20px;
                height: 17px;
            }
        }

        th {
            text-align: left;
        }
    }

}

.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    width: 100%;

    .nav-link {
        text-decoration: none;
        font-size: 1.1em;
        margin-right: 1em;
        margin-top: 0.5em;
        color: whitesmoke;
        font-family: 'Rubik Distressed', cursive;
    }
}