// * {
//     border: 1px solid red;
// }

body {
    width: 70%;
    height: 50vh;
    margin: auto;
    header {
        width: 100%;
    }
    .container {
        width: 100%;
        text-align: left;
        border: 1px solid black;
        
    }
    .table-1 {
        width: 100%;
        height: 10vh;
        th {
            text-align: center;
        }
    }
    .table-2 {
        width: 100%;
        .btn-div {
            float: right;
            display: flex;
            column-gap: 0.5em;
            margin-top: 0.5em;
            margin-right: 0.3em;
        }
    }
}

.workout-container {
    border: 1px solid black;
    margin: 5em auto 0;
    width: 75%;
    height: 50vh;
    h2 {
        text-align: center;
    }
    .workout-list {
        width: 100%;
        height: 79%;
        td {
            text-align: center;
        }
    }
    
}

.history-container {
    border: 1px solid black;
    margin-top: 0.5em;
    width: 45%;
    height: 45vh;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    h1 {
        padding-left: 0.5em;
        text-align: center;
    }
}

.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    width: 100%;
    a {
        text-decoration: none;
        font-size: large;
    }
}